* {
    font-family: 'Rubik';
}

/* Table */
td, th {
    border-bottom: 2px solid #000;
}

td {
    padding: 10px;
}

th {
    background-color: #228B22;
    color: #fff;
}

.left {
    background-color: #32CD32;
    color: #fff;
    font-weight: bold;
}